<!-- control modal from parent component -->
<modal #rateModal>
    <modal-header>
        <h3>{{section}}</h3>
        <p style="overflow-y:auto;max-height: 6em;">{{content}}</p>
    </modal-header>
    <modal-content>
        <tabset [justified]="true">
            <tab>
                <template tabHeading>
                    <i class="fa fa-check"></i> De acuerdo
                </template>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <carousel [interval]="false" >
                                <slide *ngFor="let rateItem of agreeRatings" style="height: 100%">
                                    <div class="row" style="width: 100%;padding-top:5px;">
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-left" (click)="prev(0)"></span></a>
                                        </div>
                                        <div class="col-md-8 sm-text-center" style="text-align: center;">
                                            <p>{{rateItem.argument_text}}</p>
                                            <button class="btn" (click)="select(rateItem)">Seleccionar</button>
                                        </div>
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-right" (click)="next(0)"></span></a>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">{{positivasIndex}}/{{agreeRatings.length}}</div>
                    </div>
                </div>
            </tab>
            <tab>
                <template tabHeading>
                    <i class="fa fa-times"></i> En desacuerdo
                </template>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <carousel>
                                <slide *ngFor="let rateItem of disagreeRatings">
                                    <div class="row" style="width: 100%;padding-top:5px;">
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-left" (click)="prev(1)"></span></a>
                                        </div>
                                        <div class="col-md-8 sm-text-center" style="text-align: center;">
                                            <p>{{rateItem.argument_text}}</p>
                                            <button class="btn" (click)="select(rateItem)">Seleccionar</button>
                                        </div>
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-right" (click)="next(1)"></span></a>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">{{negativasIndex}}/{{disagreeRatings.length}}</div>
                    </div>
                </div>
            </tab>
            <tab>
                <template tabHeading>
                    <i class="fa fa-question"></i> Con dudas
                </template>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <carousel>
                                <slide *ngFor="let rateItem of questionRatings">
                                    <div class="row" style="width: 100%;padding-top:5px;">
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-left" (click)="prev(2)"></span></a>
                                        </div>
                                        <div class="col-md-8 sm-text-center" style="text-align: center;">
                                            <p>{{rateItem.argument_text}}</p>
                                            <button class="btn" (click)="select(rateItem)">Seleccionar</button>
                                        </div>
                                        <div class="col-md-2">
                                          <a><span class="glyphicon glyphicon-menu-right" (click)="next(2)"></span></a>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">{{preguntasIndex}}/{{questionRatings.length}}</div>
                    </div>
                </div>
            </tab>
        </tabset>
    </modal-content>
    <modal-footer>
        <div class="row"><textarea style="width:80%;" [(ngModel)]="argumentText" (keyup)="onArgumentTextChanged($event)" ></textarea></div>
        <div class="row"><button style="width:30%" class="btn btn-success btn-block" (click)="save()">Valorar</button></div>
    </modal-footer>
</modal>
